.order-page {
  display: flex;
  justify-content: space-between;
}

.order-page__left {
  width: 70%;
}

.order-page__right {
  width: 27%;
  font-size: 25px;
  font-weight: bold;
  color: #00b300;
}
